<!DOCTYPE html>

<html>

<head>

    <title>AI Resume Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


    <nav>

        <div class="logo">
            AI Resume Analyzer
        </div>

        <div>

            <a href="/">
                Home
            </a>

            <a href="/history">
                History
            </a>

        </div>

    </nav>


    <div class="hero">

        <h1>
            AI Resume Analyzer
        </h1>

        <p>
            Analyze your resume against a job description
            and discover your skill match.
        </p>

    </div>


    <div class="card">

        <form action="/analyze" method="POST" enctype="multipart/form-data">

            <label>
                Upload Resume
            </label>

            <input type="file" name="resume" accept=".pdf" required>


            <label>
                Job Description
            </label>

            <textarea name="job_description" rows="12" placeholder="Paste the job description here..."
                required></textarea>


            <button type="submit">

                Analyze Resume

            </button>

        </form>

    </div>


</body>

</html>