<!DOCTYPE html>

<html>

<head>

    <title>AI Resume Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>AI Resume Analyzer</h1>

        <p>
            Analyze your resume against a job description
        </p>

        <form action="/analyze" method="POST" enctype="multipart/form-data">

            <label>Upload Resume PDF</label>

            <input type="file" name="resume" accept=".pdf" required>

            <label>Job Description</label>

            <textarea name="job_description" rows="12" placeholder="Paste the job description here..."
                required></textarea>

            <button type="submit">
                Analyze Resume
            </button>

        </form>

    </div>

</body>

</html>